<h1>Edit Book</h1>

<%= form_with(model: @book, local: true) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div>
    <%= form.label :published_date %>
    <%= form.date_select :published_date, start_year: 1900, end_year: Time.current.year %>
  </div>

  <div>
    <%= form.submit "Update Book" %>
  </div>
<% end %>

<%= link_to "Back to Home", books_path %>
